<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springmvc.dao.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.springmvc.entity.Admin" >
    <id column="a_id" property="aId" jdbcType="INTEGER" />
    <result column="a_name" property="aName" jdbcType="VARCHAR" />
    <result column="a_pwd" property="aPwd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    a_id, a_name, a_pwd
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from admin
    where a_id = #{aId,jdbcType=INTEGER}
  </select>

  <select id="checkAdmin" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from admin
    where a_name = #{aName,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from admin
    where a_id = #{aId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.springmvc.entity.Admin" >
    insert into admin (a_name, a_pwd
      )
    values ( #{aName,jdbcType=VARCHAR}, #{aPwd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.springmvc.entity.Admin" >
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides="," >

      <if test="aName != null" >
        a_name,
      </if>
      <if test="aPwd != null" >
        a_pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >

      <if test="aName != null" >
        #{aName,jdbcType=VARCHAR},
      </if>
      <if test="aPwd != null" >
        #{aPwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springmvc.entity.Admin" >
    update admin
    <set >
      <if test="aName != null" >
        a_name = #{aName,jdbcType=VARCHAR},
      </if>
      <if test="aPwd != null" >
        a_pwd = #{aPwd,jdbcType=VARCHAR},
      </if>
    </set>
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springmvc.entity.Admin" >
    update admin
    set a_name = #{aName,jdbcType=VARCHAR},
      a_pwd = #{aPwd,jdbcType=VARCHAR}
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
</mapper>