<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springmvc.dao.BookcommitMapper">

    <resultMap id="BaseResultMap" type="com.springmvc.entity.Bookcommit">
        <id column="bc_id" property="bcId" jdbcType="INTEGER"/>
        <result column="b_id" property="bId" jdbcType="INTEGER"/>
        <result column="u_id" property="uId" jdbcType="VARCHAR"/>
        <result column="commtime" property="commtime" jdbcType="VARCHAR"/>
        <result column="comm" property="comm" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <!--cache-ref|cache|resultMap*|parameterMap*|sql*|insert*|update*|delete*|select*)+-->
    <sql id="Base_Column_List">
        bc_id,
        b_id,
        u_id,
        commtime,
        comm
    </sql>

    <insert id="insert" parameterType="com.springmvc.entity.Bookcommit">
        insert into bookcommit (bc_id, b_id, u_id,
                                commtime, comm)
        values (#{bcId,jdbcType=INTEGER}, #{bId,jdbcType=INTEGER}, #{uId,jdbcType=VARCHAR},
                #{commtime,jdbcType=VARCHAR}, #{comm,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.springmvc.entity.Bookcommit">
        insert into bookcommit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bcId != null">
                bc_id,
            </if>
            <if test="bId != null">
                b_id,
            </if>
            <if test="uId != null">
                u_id,
            </if>
            <if test="commtime != null">
                commtime,
            </if>
            <if test="comm != null">
                comm,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bcId != null">
                #{bcId,jdbcType=INTEGER},
            </if>
            <if test="bId != null">
                #{bId,jdbcType=INTEGER},
            </if>
            <if test="uId != null">
                #{uId,jdbcType=VARCHAR},
            </if>
            <if test="commtime != null">
                #{commtime,jdbcType=VARCHAR},
            </if>
            <if test="comm != null">
                #{comm,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.springmvc.entity.Bookcommit">
        update bookcommit
        <set>
            <if test="bId != null">
                b_id = #{bId,jdbcType=INTEGER},
            </if>
            <if test="uId != null">
                u_id = #{uId,jdbcType=VARCHAR},
            </if>
            <if test="commtime != null">
                commtime = #{commtime,jdbcType=VARCHAR},
            </if>
            <if test="comm != null">
                comm = #{comm,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where bc_id = #{bcId,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.springmvc.entity.Bookcommit">
        update bookcommit
        set b_id     = #{bId,jdbcType=INTEGER},
            u_id     = #{uId,jdbcType=VARCHAR},
            commtime = #{commtime,jdbcType=VARCHAR}
        where bc_id = #{bcId,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from bookcommit
        where bc_id = #{bcId,jdbcType=INTEGER}
    </select>

    <!-- 根据图书ID 搜索评论-->
    <select id="getCommByBid" resultType="com.springmvc.entity.BookcommitPage" parameterType="java.lang.Integer">

        select bc_id,
               b_name  as bookName,
               u_name  as userName,
               u_photo as userPhoto,
               comm,
               commtime
        from bookcommit
                 inner join book b on bookcommit.b_id = b.b_id
                 inner join user ac on bookcommit.u_id = ac.u_id
        where bookcommit.b_id = #{bid}
        order by bookcommit.commtime desc
    </select>

    <select id="getCommByTime" resultType="com.springmvc.entity.BookcommitPage">
        select bc_id,
               b_name  as bookName,
               u_name  as userName,
               u_photo as userPhoto,
               comm,
               commtime
        from bookcommit
                 inner join book b on bookcommit.b_id = b.b_id
                 inner join user ac on bookcommit.u_id = ac.u_id
        order by bookcommit.commtime desc limit 6
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from bookcommit
        where bc_id = #{bcId,jdbcType=INTEGER}
    </delete>


</mapper>