<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springmvc.dao.BooktypeMapper">
    <resultMap id="BaseResultMap" type="com.springmvc.entity.Booktype">
        <id column="bt_id" property="btId" jdbcType="INTEGER"/>
        <result column="bt_name" property="btName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="connectSelect" resultType="com.springmvc.entity.RecodCount">
        select bt_name as name,count(*) as num from booktype inner join Book B on BookType.bt_id = B.b_bookTag group by bt_id;
    </select>

    <sql id="Base_Column_List">
        bt_id,
        bt_name
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from booktype
        where bt_id = #{btId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from booktype
        where bt_id = #{btId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.springmvc.entity.Booktype">
        insert into booktype (bt_id, bt_name)
        values (#{btId,jdbcType=INTEGER}, #{btName,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.springmvc.entity.Booktype">
        insert into booktype
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="btId != null">
                bt_id,
            </if>
            <if test="btName != null">
                bt_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="btId != null">
                #{btId,jdbcType=INTEGER},
            </if>
            <if test="btName != null">
                #{btName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="selectBooktag" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from booktype
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.springmvc.entity.Booktype">
        update booktype
        <set>
            <if test="btName != null">
                bt_name = #{btName,jdbcType=VARCHAR},
            </if>
        </set>
        where bt_id = #{btId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.springmvc.entity.Booktype">
        update booktype
        set bt_name = #{btName,jdbcType=VARCHAR}
        where bt_id = #{btId,jdbcType=INTEGER}
    </update>
</mapper>